<div class="flex flex-wrap py-5">
    {% for trip in trips %}
        <div class="trip w-1/3 p-2">
            <div class="p-4 bg-gray-100">
                <a href="{% url 'trip_detail' trip.slug %}">
                    {% if trip.image %}
                        <div class="image mb-2">
                            <img src="{{ trip.get_thumbnail }}" alt="Image of {{ trip.title }}">
                        </div>
                    {% endif %}
                    <h2 class="text-xl">{{ trip.title }}</h2>
                    <hr class="my-3">
                    <p><strong>Status: </strong> {{ trip.get_status_display }} </p>
            </div>
        </div>
    {% endfor %}
</div>
