.dot {
  height: 75px;
  width: 75px;
  background-color: #57122E;
  border-radius: 50%;
  border: 3px solid #f8a3cd;
  padding: 10px;
  display: inline-block;
}

.obj-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
